ul {
    list-style: none;
}

.activity-item {
    padding: 7px 0;
    border-bottom: 1px solid var(--color-text-tertiary);
}

.activity-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-shrink: 0;
    background: var(--color-background-initials);
    color: var(--color-text-initials);
}

.activity-text {
    font-size: 14px;
    color: var(--color-text-primary);
}

.activity-time {
    font-size: 12px;
    color: var(--color-text-tertiary);
}



.activity-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}