:root {
    --main-background: #F5F7FB;
    --card-background: #FFFFFF;
    --card-shadow: 0 2px 8px rgba(15, 23, 42, 0.06);
    --sidebar-background-primary: #0F172A;
    --color-background-secondary: #262624;
    --sidebar-background-active: #4F46E5;
    --sidebar-background-hover: #312E81;
    --sidebar-text-primary: #CBD5E1;
    --color-text-primary: #111827;
    --color-text-light: #FFFFFF;
    --color-background-initials: #e9f1fa;
    --color-text-initials: #274578;
    --color-text-tertiary: #9c9a92;
    --color-text-success: #7ab948;
    --color-text-warning: #d1a041;
    --color-text-danger: #ee8884;
    --color-background-success: #639922;
    --color-background-warning: #BA7517;
    --color-background-danger: #602a28;
    --color-border-tertiary: #dedcd126;
    color-scheme: light dark;
    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    --border-radius-lg: 10px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


#root {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-primary);
}


.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.app-body {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

.sidebar-wrap {
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid var(--color-border-tertiary);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-btn {
    display: none;
}

/*MOBILE VIEW*/
@media (max-width: 768px) {

    .sidebar-wrap {
        inset: 0;
        top: 52px;
        z-index: 10;
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.3s ease, opacity 0.25s ease;
        background: var(--sidebar-background-primary);
    }

    .sidebar-wrap.mobile-hidden {
        transform: translateX(-100%);
        display: none;
    }

    .main {
        padding: 0 10px !important;
    }

    .back-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        font-family: inherit;
        position: sticky;
        top: 0;
        z-index: 5;
        background: #f6f7fb;
        width: 100%;
        padding: 5px;
        text-decoration: underline;
        color: var(--color-text-primary);

    }

    .back-btn.mobile-hidden {
        display: none;
    }

    .back-btn:hover {
        background: var(--color-background-secondary);
    }

    .app-body {
        position: relative;
        overflow: hidden;
    }
}